.movies-card {
    width: 100%;
    height: 100%;
    background-color: #202020;
}

.movies-card__content {
    width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.movies-card__grid {
    width: 1140px;
    margin: 70px auto 30px;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-auto-rows: 218px;
    grid-gap: 32px 20px;
    justify-content: center;
}

.movies-card__validation-error {
    width: 80%;
    height: 100%;
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 26px;
    line-height: 25px;
    margin: 30px auto 0;
}

.movies-card__open-button {
    width: 320px;
    height: 36px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #424242;
    margin: 50px auto 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.movies-card__open-button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 768px) and (max-width:1279px) {

    .movies-card__content {
        width: 100%;
    }
    
    .movies-card__grid {
        width: 92.1875%;
        grid-template-columns: repeat(auto-fill, 339px);
        grid-auto-rows: 257px;
        grid-gap: 36px 30px;
    }

}

@media screen and (min-width: 320px) and (max-width:767px) {

    .movies-card__content {
        width: 100%;
    }
    
    .movies-card__grid {
        width: 93.75%;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-auto-rows: 235px;
        grid-gap: 20px;
    }

}