.techs {
    background-color: #272727;
    width: 100%;
    color: #FFFFFF;
}

.techs__content {
    display: flex;
    flex-direction: column;
    width: 1280px;
    margin: 0 auto;
}

.techs__title {
    width: 1140px;
    margin: 100px auto 0;
    padding-bottom: 22px;
    font-style: normal;
    font-weight: 400;
    border-bottom: 1px solid #DADADA;
}

.techs__caption {
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    font-style: normal;
  font-weight: 400;
    letter-spacing: -0.04em;
    margin: 90px auto 26px;
}

.techs__paragraph {
    width: 460px;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.04em;
    align-self: center;
    margin-bottom: 100px;
}

.techs__elements {
    display: grid;
    grid-template-columns: repeat(7, 90px);
    grid-gap: 10px;
    align-self: center;
    margin: 0 0 100px;
    list-style: none;
    padding: 0;
}

.techs__element {
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.04em;
    margin: 0;
    padding: 21px 0 22px;
    background: #303030;
    border-radius: 10px;
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width:1279px) {
    .techs__content {
      max-width: 100%;
    }

    .techs__title {
      max-width: 86.979%;
    }

    .techs__elements {
      grid-template-columns: repeat(7, 84px)
    }
    
    .techs__element {
      padding: 21px 0 21px;
    }
}

@media screen and (min-width: 320px) and (max-width:767px) {
  .techs__content {
    max-width: 100%;
  }

  .techs__title {
    max-width: 88.75%;
    margin-top: 70px;
    padding-bottom: 27px;
  }
  
  .techs__caption {
    font-size: 30px;
    line-height: 36px;
    margin: 60px auto 24px;
  }

  .techs__paragraph {
    width: 91.25%;
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 50px;
}

  .techs__elements {
    width: 55.625%;
    grid-template-columns: repeat(auto-fill, 84px);
    margin: 50px 71px 70px;
    align-items: start;
    justify-content: center;
  }

  .techs__element {
    font-size: 12px;
    line-height: 15px;
    padding: 21px 0 21px;
  }
}