.about-me {
    width: 100%;
    background-color: #202020;
    color: #FFFFFF;
}

.about-me__content {
    flex-direction: column;
    width: 1280px;
    margin: 0 auto;
}

.about-me__title {
    width: 1140px;
    margin: 100px auto 0;
    padding-bottom: 22px;
    border-bottom: 1px solid #DADADA;
    font-size: 22px;
    line-height: 27px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.04em;
}

.about-me__presentation {
    width: 1140px;
    margin: 66px auto 0;
    display: grid;
    grid-template-columns: 600px auto 270px;
    grid-template-rows: 76px 46px 187px auto;
}

.about-me__name {
    margin: 0;
    grid-column: 1;
    grid-row: 1;
    font-size: 50px;
    line-height: 58px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.04em;
}

.about-me__paragraph {
    margin: 0;
    grid-column: 1;
    grid-row: 2;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.about-me__description {
    margin: 0;
    grid-column: 1;
    grid-row: 3;
    font-size: 14px;
    line-height: 22px;
    font-style: normal;
    font-weight: 400;
}

.about-me__links {
    grid-column: 1;
    grid-row: 4;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.about-me__link {
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 20px;
}

.about-me__link:hover {
    opacity: 0.6;
}

.about-me__link:last-of-type {
    margin-right: 0;
}

.about-me__image {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    border-radius: 10px;
}

.about-me__works {
    width: 1140px;
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
}

.about-me__portfolio {
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
    margin: 0 0 50px;
}

.about-me__sites {
    margin: 0;
    padding: 0;
    list-style:none;
}

.about-me__list-item {
    padding-bottom: 18px;
    border-bottom: 1px solid #424242;
    margin: 0 0 20px;
}

.about-me__list-item:last-of-type {
    margin: 0;  
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 125px;
}

.about-me__site {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #FFFFFF;
}

.about-me__site:hover {
    opacity: 0.6;
}

.about-me__site-name {
    font-size: 30px;
    line-height: 50px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.04em;
    margin: 0;
}

@media screen and (min-width: 768px) and (max-width:1279px) {
    .about-me__content {
      max-width: 100%;
    }

    .about-me__title {
        max-width: 86.979%;
        margin: 90px auto 0;
    }

    .about-me__presentation {
        max-width: 86.979%;
        margin: 66px auto 0;
        grid-template-columns: 364px auto 255px;
        grid-template-rows: 56px 38px 195px auto;
    }

    .about-me__name {
        font-size: 40px;
        line-height: 40px;
    }
    
    .about-me__paragraph {
        font-size: 12px;
        line-height: 18px;
    }
    
    .about-me__description {
        font-size: 12px;
        line-height: 18px;
    }

    .about-me__image {
        max-width: 255px;
        max-height: 307px;
    }

    .about-me__works {
        max-width: 86.979%;
    }
}



@media screen and (min-width: 320px) and (max-width:767px) {
    .about-me__content {
      max-width: 100%;
    }

    .about-me__title {
        max-width: 91.25%;
        margin-top: 70px;
        padding-bottom: 27px;
        font-size: 18px;
        line-height: 22px;
    }

    .about-me__presentation {
        max-width: 91.25%;
        margin-top: 60px;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, auto);
    }

    .about-me__name {
        font-size: 30px;
        line-height: 36px;
        grid-column: 1;
        grid-row: 2;
        margin-top: 40px;
    }

    
    .about-me__paragraph {
        font-size: 11px;
        line-height: 16px;
        grid-column: 1;
        grid-row: 3;
        margin: 20px auto 20px 0;
    }

    
    .about-me__description {
        font-size: 11px;
        line-height: 16px;
        grid-column: 1;
        grid-row: 4;
        margin-bottom: 40px;
    }

    .about-me__links {
        grid-column: 1;
        grid-row: 5;
    }

    .about-me__link {
        margin-right: 15px;
    }


    .about-me__image {
        width: 100%;
        grid-column: 1;
        grid-row: 1;
    }


    .about-me__works {
        max-width: 91.25%;
        margin-top: 70px;
    }

    .about-me__portfolio {
        font-size: 14px;
        color: #8B8B8B;
        margin-bottom: 40px;
    }

    .about-me__site:last-of-type {
        margin-bottom: 70px;
    }

    .about-me__site-name {
        font-size: 18px;
        line-height: 28px;
    }
    
    .about-me__site-arrow {
        width: 18px;
        height: 28px;
    }
}